.lottie-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: relative;
  z-index: 1;
}

.floating-sticker {
  position: absolute;
  pointer-events: none;
  z-index: 0;
  opacity: 0.4;
  filter: blur(10px);
}